{% extends "base.html" %}

{% load thumbnail %}

{% block body %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header"><h2>Your Profile</h2></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th scope="row">Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th scope="row">avatar</th>
                    <td>
                        {% if user.profile.thumbnail %}
                        {% thumbnail user.profile.thumbnail "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ user.username }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        {% else %}
                        <img src="{{ user.profile.image_url }}" alt="{{ user.username }}" width="100" height="100">
                        {% endif %}
                        <a href="{% url 'upload_thumbnail' %}" class="btn float-right btn-warning">Upload thumbnail</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Images for Deep Learning</th>
                    <td>
                        {% if user.images.all.count > 0 %}
                        {% with user.images.all|first as first_image %}
                        <figure>
                        {% thumbnail first_image.image "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ user.username }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        {% endwith %}
                        <figcaption>{{ user.images.all.count }} images uploaded</figcaption>
                        </figure>
                        {% else %}
                        <figure>
                        <img src="/static/img/no-images.svg" alt="{{ user.username }}" width="100" height="100">
                        <figcaption>No images</figcaption>
                        </figure>
                        {% endif %}
                        <a href="{% url 'upload_images' %}" class="btn float-right btn-warning">Upload Images</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</div>
{% endblock body %}